---
type Props = {
  href?: string;
  textColor?: "blue" | "default";
  size?: "sm" | "md" | "lg";
  className?: string;
};

const ALL_TEXT_COLORS = {
  blue: "text-rickBlue",
  default: "text-default-900",
};

const ALL_SIZES = {
  sm: "h-7 p-1 text-sm",
  md: "h-9 p-2 text-base",
  lg: "h-11 p-3 text-lg",
};

//icon is an Astro component
const { href, textColor, size, className }: Props = Astro.props;

const ButtonColor = ALL_TEXT_COLORS[textColor] || ALL_TEXT_COLORS.default;

const buttonClass = ` ${className} transition-all ${ButtonColor} text-nowrap hover:text-default-900 ${ALL_SIZES[size] || "h-9 p-2 text-base"} flex justify-center items-center gap-2 bg-default-100 hover:bg-rickBlue rounded-full`;

// si existe href retornar un a, si no un button
---

{
  href ? (
    <a href={href} class={buttonClass}>
      <slot />
    </a>
  ) : (
    <button class={buttonClass}>
      <slot />
    </button>
  )
}
