---
interface Props {
  id: string;
  name: string;
  air_date: string;
  episode: string;
  url?: string;
  className?: string;
}

const { id, name, air_date, episode, url, className }: Props = Astro.props;
---

<div class={className}>
  <div
    style={`view-transition-name: card-episode-${id};`}
    class=`bg-default-50  overflow-hidden relative border border-default-400 dark:border-[#fff0] w-72 p-5 rounded-2xl `
  >
    <h1 class="text-lg font-bold text-default-900">{name}</h1>
    <p class="text-default-400">{air_date}</p>
    <p class="text-default-400">{episode}</p>
    <a
      href={url}
      class="absolute bottom-0 right-0 hover:bottom-2 hover:right-2 transition-all cursor-pointer"
    >
      <div
        class="absolute flex justify-center items-center rounded-3xl -bottom-12 -right-12 rotate-45 size-24 bg-success-50"
      >
      </div>

      <p class="absolute bottom-2 right-2 font-bold text-success-400">#{id}</p>
    </a>
  </div>
</div>
